<div class="about row">

    <div class="col-md-8">

        <!--<h2>About me-一笑而过</h2>-->
        <h2>平和才是王道</h2>

        <p><font size="4">人活得平和，才能活出生命真正的滋味来，平和的人，放得下，看得开，想的明白，过的洒脱，一个人，
        若思想通透了。行事就会通达，内心就会通泰，世俗的名与利，他们不是不要了，而是无论得到与否，
        得到的多还是得到的少，都不再计较了。有欲而不执著于欲，有求而不能拘泥于求，一个人，活的越平和，
        就会放下得越多，人平和之后，在生命外在状态上的具体表现是：笃定，泰然、从容、六根清净、万事不扰，
        内在的层面上，在生活中疲惫的精神开始一点一点收合，在世俗中挣扎的灵魂开始一点一点归拢，
        并慢慢的悦纳一处，把盏言欢。我不相信，在欲望的泥淖中挣扎的人会平和下来，贪婪，撕咬着他们，
        折磨着他们，潮欲平，而暗流涌动，树欲静，而惑风不止。明争，暗夺，阴谋，阳谋，哭一阵，笑一阵，
        人一回，鬼一回，这样的人是没法平和下来的，所以，平和，首先是内心的平静。也就是在这平静中，平和的人，
        从浮躁走向宁谧，其实，整个世界变得宁谧了，也不过是无数颗躁动的心平静了下来。
        </font></p>
        <p><font size="4">人，平和下来是美的，
        蹙眉舒展了，苦脸开花了，腰身挺直了，神色朗润了，气质和悦了，一个真正能平和下来的人，
        外部的物质世界已经诱惑不了他，挑唆不了他，左右不了他，在急迫的事，也会举重若轻的处理好，在撩人的事，
        也会云淡风轻地放过去，再痛苦的事，也能轻栊慢捻地跳脱出来。我认为，至深的平和，一定经过命运浮沉的洗礼，
        一定经过生离死别的考验，一定经过爱与恨的煎熬，一切都过去了，一切都走过了，一切都熬过了，生命的底色里，
        增了韧，淬了刚，填了柔，这时候平和下来的生命，已经沉静到扰不乱，已经稳健到动不摇，已经淡定到八风不动。
        </font></p>

        <!--
        <p>这是我的个人博客</p>
        一笑而过是一种生活态度，
        对于那些无所谓的人和事一笑而过，免得影响自己的心情
        一笑而过是一种处世态度
        颇有老-->
        <!--<h2>Contact</h2>-->

        <!--<ul>-->
            <!--<li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>-->
            <!--<li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>-->
        <!--</ul>-->

        <!--<h2>Skill Keywords</h2>-->

        <!--{% if site.skill_software_keywords %}-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Software Engineer Keywords</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--{% for keyword in site.skill_software_keywords %}-->
                <!--<button class="btn btn-default" type="button">{{ keyword }}</button>-->
                <!--{% endfor %}-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endif %}-->

        <!--{% if site.skill_j2ee_keywords %}-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">J2EE Developer Keywords</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--{% for keyword in site.skill_j2ee_keywords %}-->
                <!--<button class="btn btn-default" type="button">{{ keyword }}</button>-->
                <!--{% endfor %}-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endif %}-->

        <!--{% if site.skill_mobile_app_keywords %}-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Mobile Developer Keywords</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--{% for keyword in site.skill_mobile_app_keywords %}-->
                <!--<button class="btn btn-default" type="button">{{ keyword }}</button>-->
                <!--{% endfor %}-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endif %}-->

        <!--{% if site.skill_web_keywords %}-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Web Developer Keywords</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--{% for keyword in site.skill_web_keywords %}-->
                <!--<button class="btn btn-default" type="button">{{ keyword }}</button>-->
                <!--{% endfor %}-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endif %}-->

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>


<div class="comment">
    {% include comments.html %}
</div>